<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Coding Test</Title>
			<Shortcut>go</Shortcut>
			<Description>Template for coding test</Description>
			<Author>joonyle99</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Declarations>
				<Literal>
					<ID>title</ID>
					<ToolTip>문제 제목 입력</ToolTip>
					<Default>Problem Name</Default>
				</Literal>
				<Literal>
					<ID>algorithm</ID>
					<ToolTip>알고리즘 설명 입력</ToolTip>
					<Default>Algorithm Name</Default>
				</Literal>
			</Declarations>
			<Code Language="CPP">
				<![CDATA[#include <bits/stdc++.h>
using namespace std;

int main()
{
	// Disconnects C and C++ streams. (printf and cout cannot be mixed.)
	std::ios::sync_with_stdio(false);

	// Do not flush the cout buffer before receiving input with cin.
	std::cin.tie(nullptr);

	// Title : $title$
	
	// Algorithm : $algorithm$
	
	$end$

    return 0;
}
]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>